$color_fuente:#000000 !default;

$color_fuente:#4c424d;

$color_H1:#811628;  $color_H2:#6c1eac;  $color_H3:#3f152a; $color_H5:#53233b;

$color_fondoSeccion: #dfcbda;

$color_footer: #000000;


h1{color: $color_H1;}

h2{color: $color_H2;}

h3{color: $color_H3;}

h5{color: $color_H5;}

